body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #D22E33;
  color: #FFFFFF;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculation-name {
  font-size: 44px;
  padding-right: 24px;
}

.calculation-question {
  background-color: #FFFFFF;
  color: #6B6B6B;
  width: 70px;
  height: 70px;
  font-size: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

.navbar {
    background-color: #D22E33;
    height: 120px;
    width: 100%;
    display: flex;
}

.nav-btn {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.clock-symbol {
  width: 90px;
  height: 90px;
}

.nav-text {
  font-size: 24px;
}
