body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#react-container {
  height: 100%;
}

.container {
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
}

/*Header*/
.header {
  background-color: #D22E33;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex: 0 1 100px;
  flex: 0 1 100px;
}

.calculation-name {
  font-size: 44px;
  padding-right: 24px;
}

.calculation-question {
  background-color: #FFFFFF;
  color: #6B6B6B;
  width: 70px;
  height: 70px;
  font-size: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}

/*Navbar*/
.navbar {
    background-color: #D22E33;
    width: 100%;
    display: flex;
    -webkit-flex: 0 1 120px;
    flex: 0 1 120px;
}


.nav-btn {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectedLink {
  background-color: #AB2529;
}

.symbol {
  width: 90px;
  height: 90px;
}

.nav-text {
  font-size: 24px;
}

/*Body*/
.body {
  background-color: #DEE5DE;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
